#main-heading {
  text-align: center;
}
#mainButton {
  height: 40px;
  width: 200px;
  color: rgb(79, 33, 136);
  background: linear-gradient(to right,#ebd197, #b48811, #a2790d, #bb9b49);
  font-size: xx-large;
}
.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
#dateTimeContainer{
  position: fixed;
  top: 0;
  right: 0;
  margin-right: 20px; 
  margin-top: 20px;
}
body {
  background: linear-gradient(to right, rgb(68, 68, 75), rgb(95, 27, 27));
}

.dateTime{
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
}